# Xcode

*/**/UserInterfaceState.xcuserstate
*/**/xcuserdata

# swiftpm
.build
Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# misc
.DS_STORE
Icon?
